.img-container {
  max-width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.img-container::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    ellipse at right top,
    rgba(0, 0, 0, 0.25) 40%,
    rgba(0, 0, 0, 0.95) 75%
  );
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}

.slide {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}
