button {
  border: none;
  background: none;
  cursor: pointer;
}

.buttons {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: all ease-in;
}

.buttons:hover {
  gap: 10px;
}
