#top-events {
  width: 100%;
  height: 100vh;
}

.top-events-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top-events-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.top-events-heading p {
  font-size: 25px;
  font-weight: 600;
}

.top-events-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  transition: all 0.5s ease;
}

.top-events-content {
  display: flex;
  cursor: grab;
  height: 100%;
  z-index: 100;
  transition: all 0.5s ease;
}

.top-events-section .card-list {
  margin: 25px auto;
}

.events-item {
  width: 200px;
  height: 100%;
  margin-right: 20px;
  color: #eee;
  transition: all 0.5s ease;
  border-radius: 10px;
  opacity: 0;
  transform: scale(0);
  transform: translateX(10%);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.events-item.visible {
  animation: fadeIn 0.5s ease-in forwards;
}

.events-item-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.events-item-info h1 {
  font-size: 15px;
  margin-top: 10px;
}

.events-item .events-item-info .events-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  cursor: pointer;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .top-events-section .card-list {
    margin: 15px auto;
  }

  .events-item {
    width: 150px;
    height: 250px;
  }

  .events-item-info {
    height: 100%;
  }

  .top-events-section .card-list {
    height: 250px;
  }
  .top-events-section .card-list .scroll-container .scroll-content {
    /* border: 1px solid red; */
    /* height: 300px; */
    align-items: normal;
  }
}
