.card-list {
  width: 100%;
  margin: 50px auto;
}

.card-list .title {
  width: 200px;
  height: 350px;
  margin-right: 20px;
  position: absolute;
  display: flex;
  align-items: center;
}

.card-list .title p {
  font-size: 2rem;
  position: relative;
}

.card-list .title p::after {
  border: 1px solid #fff;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 30%;
}

.scroll-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  transition: all 0.5s ease;
}

.scroll-content {
  display: flex;
  cursor: grab;
  height: 100%;
  z-index: 100;
  transition: all 0.5s ease;
}

.scroll-view {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  font-size: 20px;
  position: relative;
}
