#trending {
  width: 100%;
  min-height: 100vh;
}

#trending .card-list {
  height: 350px;
}

.trending-item {
  width: 250px;
  height: 100%;
  margin-right: 15px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(45deg, #000, var(--secondry-color));
  color: #eee;
  transition: all 0.5s ease;
  border-radius: 10px;
  opacity: 0;
  transform: scale(0);
  transform: translateX(10%);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.trending-item-info {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.trending-item .trending-item-info .trending-item-img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  transition: all 0.5s ease;
  cursor: pointer;
  border-radius: 10px;
}

.trending-item .trending-item-info .trending-item-detail {
  display: none;
  transition: all 1s ease;
}

.trending-item:hover {
  width: 500px;
}
.trending-item:hover .trending-item-img {
  border-radius: 10px 0 0 10px;
}

.trending-item:hover .trending-item-info .trending-item-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-start; */
  padding: 10px 0;
  padding-right: 10px;
  width: 100%;
  transition: all 1s ease;
}

.trending-item:hover
  .trending-item-info
  .trending-item-detail
  .trending-item-title
  h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.trending-item:hover .trending-item-info .trending-item-detail button {
  border: 2px solid var(--secondry-color);
  height: 50px;
  border-radius: 30px;
}

.trending-item.visible {
  animation: fadeIn 0.5s ease-in forwards;
}

.trending-item:first-child {
  visibility: hidden;
  cursor: default;
}

@media (max-width: 600px) {
  #trending {
    margin-top: 80px;
  }
  #trending .card-list {
    height: 250px;
  }

  .trending-item {
    width: 150px;
  }

  .trending-item:hover {
    width: 300px;
  }
  .trending-item:first-child {
    display: none;
  }

  .trending-item .trending-item-info .trending-item-img {
    width: 150px;
    height: 250px;
    object-fit: cover;
    transition: all 0.5s ease;
    cursor: pointer;
    border-radius: 10px;
  }
}
