*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  /* max-width: 1280px; */
}

.container {
  padding: 0 30px;
}

ul {
  list-style: none;
}

.heading {
  font-size: 2rem;
  text-align: center;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
